/BadSample/.vs
/BadSample5/.vs
/BadSample/.project
/GenerateSinWav/FourierTransfer/bin
/GenerateSinWav/FourierTransfer/obj
/GenerateSinWav/MultipleSinWave/bin
/GenerateSinWav/WaveData/bin
/GenerateSinWav/WavFile/bin
/BoundingRectangle/.vs
/BoundingRectangle/BoundingRectangle/obj
/BoundingRectangle/BoundingRectangle/bin
/GenerateSinWav/FourierTransferTest/obj
/GenerateSinWav/FourierTransferTest/bin
/GenerateSinWav/MultipleSinWave/obj
/GenerateSinWav/SinWaveGenerator/bin
/GenerateSinWav/SinWaveGenerator/obj
/GenerateSinWav/WavAnalyzer/obj
/GenerateSinWav/WavAnalyzer/bin
/GenerateSinWav/WavFile/obj
/GenerateSinWav/WaveData/obj
/GenerateSinWav/.vs
/MatrixRainWpfApp/.vs
/MatrixRainWpfApp/MatrixRain/bin
/MatrixRainWpfApp/MatrixRain/obj
/MatrixRainWpfApp/MatrixRainWpfApp/obj
/MatrixRainWpfApp/MatrixRainWpfApp/bin
/SocketNet/Client/obj
/SocketNet/Client/bin
/SocketNet/Common/obj
/SocketNet/Common/bin
/SocketNet/Server/obj
/SocketNet/Server/bin
